.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--logo-hover-color));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.error-button {
  text-align: end;
}

.message {
  margin: 15px;
  font-size: 22px;
  font-style: italic;
  color: rgb(203, 24, 24);
}
.navigation {
  display: flex;
  flex-direction: row;
  color: var(--tx-color);
  text-align: center;
  font-size: 20px;
  font-family: Involve;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-bottom: 5px;
  cursor: pointer;
  margin-left: 30px;
}

.bottom-container {
  flex-wrap: wrap;
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pagination {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.5%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 1.5%;
  color: var(--tx-color);
  width: 20px;
  height: 30px;
}

.pagination:hover {
  scale: 1.6;
  font-weight: 800;
  background-color: #ac8e8e15;
}
