.error {
  color: red;
  font-style: italic;
  min-height: 13px;
  font-size: 13px;
  line-height: 13px;
  padding-top: 3px;
}

.uncontrolled-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
