.KG-image {
  width: 300px;
  height: 300px;
  border: var(--KG-border-color);
  object-fit: cover;
  border-radius: 50px;
}

.name {
  color: var(--tx-color);
  text-align: center;
  font-size: 40px;
  font-family: Involve;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-bottom: 5px;
  cursor: pointer;
}

.text {
  color: var(--tx-color);
  font-family: Involve;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.rs-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  background-color: var(--logo-color);
  padding: 24px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 50px;
}
